body, section{
    background-color: #FF7B00;
}
.pc-title{
    color:white;
    font-size:4.5vw;
    position:relative;
    top:20%;    
}
.title_contain{
    display:flex;
}
.pc-img{
    position: absolute;
    top:25%;
    left:40%;
}
.irm-img{
    position: absolute;
    top:30%;
    left:45%;
}
.span-design{
    height:100px;
    width:100px;;
    margin-top:5%;
}
.span-design span{
    height: 1.2vw;
    width:400%;
    background-color:#3C4B6E;
    display:block;
    border-radius:20%;
}
.pc-desc{
    width:20vw;

}
.pc-desc span{
    color: white;
    font-size: 1.5vw;
}
.pc-button{
    margin-top:4%;
    margin-left:12%;
}
.pc-button span{
    height:10vw;
    width: 10vw;
    background-color: #4D92D7;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:5%;
    padding-right: 5%;
    border-radius:30%;
}
.pc-button a {
    color: white;
    font-size:1vw;
}
.header{
    opacity:0;
}
.down_arrow{
    position: relative;
    width: 15vw;
    height: 15vw;
    margin-left: 2%;
    background: transparent;
    transform: rotate(0deg);
}
.arrow_container{
    position: relative;
    top: 15%;
}
.down_arrow span{
    top:0;
    left:0;
    width: 1000px;
    height: 1000px; 
}
@media only screen and (max-width:600px){
    .pc-desc-container{
        position:relative;
        top:25%;
        left: 10%;
    }
    .pc-button-container{
        position:relative;
        top:35%;
    }
    .pc-img, .irm-img{
        position: absolute;
        top:25%;
        left:10%;
    }
    .pc-desc span{
        font-size:4vw;
    }
    .pc-desc{
        width:40vw;
    }
    .pc-button a{
        font-size:4vw;
    }
    .pc-button{
        margin-bottom:-10%;
        margin-left:20%;
    }
}