<div class="main">
  <body>
  <section>
    <app-header></app-header>
    <div class="grid-x grid-padding-x">

      <div class="cell medium-12 medium-offset-1">
        <img class="pc-img" src="../../../assets/img/peerconnect.jpg" height="900vw" width="800vw">
        <span class="pc-title">PeerConnect <br>Management System</span>
      </div>
    
    </div>

    <div class="grid-x grid-padding-x">

      <div class="cell medium-6 medium-offset-1 span-design">
        <span style="margin-bottom:5%;">  </span>
        <span style="margin-left:40%;">  </span>
      </div>

    </div>

    <div class="grid-x grid-padding-x pc-desc-container">

      <div class="cell medium-6 medium-offset-1 pc-desc small-6">
        <span>Web application to manage employee's schedule, tasks, and efficiency.</span>
      </div>

    </div>

    <div class="grid-x grid-padding-x pc-button-container">

      <div class="cell medium-6 medium-offset-1 pc-button">
        <span><a href="https://github.com/sergiolombana101/peerconnect" target="_blank">See on Github</a></span>
      </div>
      <div class="cell medium-5">
        <div class="container arrow_container">
           <div class="row align-items-center">
               <div class="col-6 mx-auto">
                   <div class="text-center">
                       <div class="down_arrow">
                           <span id="down_arrow"></span>
                       </div>
                   </div>
               </div>
           </div>
         </div>
     </div>
     
    </div>


  </section>
  <section>
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="grid-x grid-padding-x">

      <div class="cell medium-12 medium-offset-1">
        <img class="irm-img" src="../../../assets/img/IRM_pic.jpg" height="900vw" width="800vw">
        <span class="pc-title">Incident <br>Report Management</span>
      </div>
    
    </div>

    <div class="grid-x grid-padding-x">

      <div class="cell medium-6 medium-offset-1 span-design">
        <span style="margin-bottom:5%;">  </span>
        <span style="margin-left:40%;">  </span>
      </div>

    </div>

    <div class="grid-x grid-padding-x pc-desc-container">

      <div class="cell medium-6 medium-offset-1 pc-desc">
        <span>ASP.net web application to assist company to track customer satisfaction. </span>
      </div>

    </div>

    <div class="grid-x grid-padding-x pc-button-container">

      <div class="cell medium-6 medium-offset-1 pc-button">
        <span><a href="https://github.com/sergiolombana101/IncidentReportManagement" target="_blank">See on Github</a></span>
      </div>
      <div class="cell medium-5">
         <div class="container arrow_container">
            <div class="row align-items-center">
                <div class="col-6 mx-auto">
                    <div class="text-center">
                        <div class="down_arrow">
                            <span id="down_arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>

    </div>



  </section>
  </body>
</div>