body{
    background-color:#FF7B00;
    height:100vh;
}
.about-me-div{
    margin-top:2%;
    font-size: 2.5vw;
    color: white;
}
h1{
    font-family: 'Dubai';
    color: white;
    opacity:0;
}
.skills-div{
    margin-top:2%;
}
.skills-div span{
    color: 3C4B6E;
    font-size: 1.5vw;
    font-family:'Dubai';
}
.chart-container{
    margin-top:5%;
}
.chart-canvas{
    display: block;
    height: 22vw;
    width: 30vw;
}
.pieChart-container{
    margin-top:3%;
}
.ieex-container, .pc-container{
    margin-top:20%;
    display:flex;
}
@media only screen and (max-width:600px){
    .about-me-div{
        font-size:5vw;
    }
    .skills-div{
        margin-top:14%;
    }
    .skills-div div{
        font-size:3vw;
    }
    .sk-title-small{
        margin-top:8%;
        font-size:2.7vw;
        font-family:'Dubai';
        margin-left:4%;
    }
    .pieChart-container{
        margin-top:15%;
    }
}