<body>
  <div class="grid-x grid-padding-x align center">
    <div class="cell medium-offset-5 small-12 small-offset-4 about-me-div">
      ABOUT ME
    </div>
  </div>

  <div class="grid-x grid-padding-x align-spaced skills-div">
    <div class="cell medium-4 medium-offset-2">TECHNICAL SKILLS</div>
    <div *ngIf="screen>400" class="cell medium-4 medium-offset-2">SOFT SKILLS</div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell medium-4 medium-offset-1">
      <div>
        <div class="chart-container" style="display: block;">
          <canvas class="chart-canvas" baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

    <div *ngIf="screen<400" class="sk-title-small">SOFT SKILLS</div>

    <div class="cell medium-4 medium-offset-2">
      <div>
        <div class="pieChart-container" style="display: block;">
          <canvas baseChart
                  [datasets]="pieChartData"
                  [labels]="pieChartLabels"
                  [options]="pieChartOptions"
                  [legend]="pieChartLegend"
                  [chartType]="pieChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="screen>400" class="grid-x grid-padding-x">

    <div class="cell medium-4 medium-offset-1">
      <div class="ieex-container">
        <img src="assets/img/ieeex.png" height="140vw" width="140vw" style="margin-right:5%;">
        <span style="width:70%;">In October of 2019, I had the opportunity to participate in the IEEExtreme coding competition. I was in a team
           of 2 people and with a lot of coffee and enthusiasm we managed to stay up and obtain a good place
            in the final results</span>
      </div>
    </div>

    <div class="cell medium-4 medium-offset-2">
      <div class="pc-container">
        <img src="assets/img/pc.png" height="150vw" width="140vw" style="margin-right:5%;">
        <span style="width:70%;">I also work at Peerconnect as a student advisor. I provide students coaching in career related 
          topics. I also facilitate workshops in soft skills</span>
      </div>
    </div>
  </div>
</body>

