<body>
  <script>
    function redirect(){
      window.location.href = "http://"+window.location.host+"/projects";
    }
  </script>
<div class="typewrite-fixed-container">
  <div class="grid-x grid-padding-x align-center typewrite-row">
  
    <div class="cell small-12 small-offset-4 medium-4 medium-offset-1">
      <div class="container">
        <h1><span class="txt-type" data-wait="3000" data-words='["Sergio<br>Lombana"]'></span></h1>
      </div>
    </div>
    <div class="cell small-4 medium-4 medium-offset-2 moon-div">
      <img src="/assets/img/moon.png" height="500vw" width="500vw">
      <span class="portfolio-span">PORTFOLIO</span>
    </div>
    
  </div>
</div>
<div class="grid-x grid-padding-x mobile-moon-div">
    <div class="cell small-12 medium-4 medium-offset-2 small-offset-2">
        <img src="/assets/img/moon.png" height="200vw" width="200vw">
        <span class="portfolio-span">PORTFOLIO</span>
    </div>
</div>

  <div class="grid-x grid-padding-x position-row">
    <p class="position-p cell medium-4 medium-offset-1 small-12 small-offset-3">Web Developer/Software Developer</p>
    <button *ngIf="screen > 400" class="cell medium-4 learn-more" onclick="redirect()">
      <div class="circle">
        <span class="icon arrow"></span>
      </div>
      <p class="button-text">See my projects</p>
      </button>
  </div>
  <button *ngIf="screen < 400" class="cell small-12 small-offset-4 small-projects-btn" onclick="redirect()">
    See my projects
  </button>
  
</body>
