.top-bar{
    background-color: #FF7B00;
}
.menu li a{
    background-color: #FF7B00;
    color: white;
    font-size:1.5vw;
}
@media only screen and (max-width:600px){
    .logo-img{
        height:10vw;
        width:10vw;
        float:right;
    }
    .menu li a{
        font-size:3vw;
    }
}